td.item-width {
	min-width: 110px;
}

td.qty-width {
	min-width: 50px;
}

td.threshold-width {
	min-width: 50px;
}
.table {
	margin-top: -15px;
	border: solid 1px;
	border-left: none;
	border-right: none;
}
.panel {
	margin-bottom: 0;
}
.remove {
	background-color: #ccc;
}
.no-padding-button {
	padding-top: 0px;
	padding-bottom: 0px;
}