.body {
	background-color: #95a5a6;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300pt;
}
.invbody {
	background-color: #ecf0f1;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300pt;
}
.chatbody {
	background: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/t31/1669726_10151960800018174_1612925819_o.jpg) no-repeat center center fixed;
	-webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300pt;
	height: 100%
}
h5 {
	color: #ecf0f1;
}
.centered {
	float: none;
	margin: 0 auto;
}
p.no-margin {
	margin-top: -5px;
	font-weight: bold;
}
.no-margin {
	margin: auto 0;
	color: #fff;
}
.divider {
	margin-top: 0px;
	margin-bottom: 20px;
}
.h3-no-vert-margin {
	margin-top: 5px; 
}
p.text-center {
	margin: 0 auto;
}
div.col-sm-12>h5, div.col-xs-12>h5 {
	margin-top: -5px;
	margin-left: -15px;
}

.col-sm-2, .col-xs-2 {
	margin-right: 0px;
	padding-right: 0px;
}
.col-sm-8, .col-xs-8 {
	padding-left: 0px;
}
div>div.col-sm-12>h5 {
	width: 500px;
	color: #fff;
} 
div>div.col-xs-12>h5 {
	width: 195px;
	color: #fff;
}