.body {
	background-color: #95a5a6;
	font-family: 'Exo 2', sans-serif;
}
a {
	color: #ecf0f1;
}
.centered {
	float: none;
	margin: 0 auto;
}
.no-margin {
	margin: auto 0;
	font-size: 22px;
}
.divider {
	margin-bottom: 40px;
}